<div id="<%= dom_id credit_card %>">
  <p>
    <strong>Name:</strong>
    <%= credit_card.name %>
  </p>

  <p>
    <strong>Card number:</strong>
    <%= credit_card.card_number %>
  </p>

  <p>
    <strong>Expiration date:</strong>
    <%= credit_card.expiration_date %>
  </p>

  <p>
    <strong>Cvv:</strong>
    <%= credit_card.cvv %>
  </p>

</div>
